n8n_weekly_grocery.json
{
  "name": "Weekly Nemlig Grocery Order",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtDay": 0,
              "triggerAtHour": 10
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every Sunday 10:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.nemlig.com/webapi/AntiForgery",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json, text/plain, */*" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "User-Agent", "value": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36" },
            { "name": "Device-Size", "value": "desktop" },
            { "name": "Platform", "value": "web" },
            { "name": "Version", "value": "11.201.0" },
            { "name": "X-Correlation-Id", "value": "={{ $json.uuid || require('crypto').randomUUID() }}" }
          ]
        },
        "options": {
          "response": { "response": { "fullResponse": true } }
        }
      },
      "id": "get-xsrf",
      "name": "1. Get XSRF Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.nemlig.com/webapi/Token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json, text/plain, */*" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "User-Agent", "value": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36" },
            { "name": "Device-Size", "value": "desktop" },
            { "name": "Platform", "value": "web" },
            { "name": "Version", "value": "11.201.0" },
            { "name": "X-Correlation-Id", "value": "={{ require('crypto').randomUUID() }}" }
          ]
        },
        "options": {
          "response": { "response": { "fullResponse": true } }
        }
      },
      "id": "get-bearer",
      "name": "2. Get Bearer Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.nemlig.com/webapi/login",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json, text/plain, */*" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "User-Agent", "value": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36" },
            { "name": "Device-Size", "value": "desktop" },
            { "name": "Platform", "value": "web" },
            { "name": "Version", "value": "11.201.0" },
            { "name": "X-Correlation-Id", "value": "={{ require('crypto').randomUUID() }}" },
            { "name": "X-XSRF-TOKEN", "value": "={{ $('1. Get XSRF Token').item.json.body.Value }}" },
            { "name": "Authorization", "value": "=Bearer {{ $('2. Get Bearer Token').item.json.body.access_token }}" },
            { "name": "Referer", "value": "https://www.nemlig.com/login?returnUrl=%2F" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "Username", "value": "={{ $credentials.nemligEmail }}" },
            { "name": "Password", "value": "={{ $credentials.nemligPassword }}" },
            { "name": "CheckForExistingProducts", "value": "=true" },
            { "name": "DoMerge", "value": "=true" },
            { "name": "AppInstalled", "value": "=false" },
            { "name": "SaveExistingBasket", "value": "=false" }
          ]
        },
        "options": {
          "response": { "response": { "fullResponse": true } }
        }
      },
      "id": "login",
      "name": "3. Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 0],
      "credentials": {}
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.nemlig.com/webapi/Token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json, text/plain, */*" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "User-Agent", "value": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36" },
            { "name": "Device-Size", "value": "desktop" },
            { "name": "Platform", "value": "web" },
            { "name": "Version", "value": "11.201.0" },
            { "name": "X-Correlation-Id", "value": "={{ require('crypto').randomUUID() }}" }
          ]
        },
        "options": {
          "response": { "response": { "fullResponse": true } }
        }
      },
      "id": "refresh-bearer",
      "name": "4. Refresh Bearer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.nemlig.com/webapi/AntiForgery",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json, text/plain, */*" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "User-Agent", "value": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36" },
            { "name": "Device-Size", "value": "desktop" },
            { "name": "Platform", "value": "web" },
            { "name": "Version", "value": "11.201.0" },
            { "name": "X-Correlation-Id", "value": "={{ require('crypto').randomUUID() }}" }
          ]
        },
        "options": {
          "response": { "response": { "fullResponse": true } }
        }
      },
      "id": "refresh-xsrf",
      "name": "5. Refresh XSRF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 0]
    },
    {
      "parameters": {
        "jsCode": "// Weekly grocery staples - edit this list!\nconst groceryList = [\n  { productId: \"701025\", quantity: 2, name: \"Cocio\" },\n  { productId: \"700150\", quantity: 1, name: \"Minimælk\" },\n  { productId: \"700200\", quantity: 1, name: \"Smør\" },\n  { productId: \"700300\", quantity: 2, name: \"Rugbrød\" },\n  { productId: \"700400\", quantity: 6, name: \"Bananer\" },\n  { productId: \"700500\", quantity: 1, name: \"Æg\" }\n];\n\n// Store auth tokens for downstream nodes\nconst bearer = $('4. Refresh Bearer').item.json.body.access_token;\nconst xsrf = $('5. Refresh XSRF').item.json.body.Value;\n\nreturn groceryList.map(item => ({\n  json: {\n    ...item,\n    bearer,\n    xsrf\n  }\n}));"
      },
      "id": "grocery-list",
      "name": "6. Grocery List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.nemlig.com/webapi/basket/AddToBasket",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json, text/plain, */*" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "User-Agent", "value": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36" },
            { "name": "Device-Size", "value": "desktop" },
            { "name": "Platform", "value": "web" },
            { "name": "Version", "value": "11.201.0" },
            { "name": "X-Correlation-Id", "value": "={{ require('crypto').randomUUID() }}" },
            { "name": "X-XSRF-TOKEN", "value": "={{ $json.xsrf }}" },
            { "name": "Authorization", "value": "=Bearer {{ $json.bearer }}" },
            { "name": "Referer", "value": "https://www.nemlig.com/" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ProductId\": \"{{ $json.productId }}\",\n  \"quantity\": {{ $json.quantity }},\n  \"AffectPartialQuantity\": false,\n  \"disableQuantityValidation\": false\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 1000
            }
          }
        }
      },
      "id": "add-to-basket",
      "name": "7. Add to Basket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.nemlig.com/webapi/basket/GetBasket",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json, text/plain, */*" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "User-Agent", "value": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36" },
            { "name": "Device-Size", "value": "desktop" },
            { "name": "Platform", "value": "web" },
            { "name": "Version", "value": "11.201.0" },
            { "name": "X-Correlation-Id", "value": "={{ require('crypto').randomUUID() }}" },
            { "name": "X-XSRF-TOKEN", "value": "={{ $('6. Grocery List').first().json.xsrf }}" },
            { "name": "Authorization", "value": "=Bearer {{ $('6. Grocery List').first().json.bearer }}" }
          ]
        },
        "options": {}
      },
      "id": "get-basket",
      "name": "8. Get Basket Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1920, 0]
    },
    {
      "parameters": {
        "jsCode": "const basket = $input.first().json;\nconst lines = $('6. Grocery List').all();\n\nconst itemCount = lines.length;\nconst total = basket.Total || basket.TotalPrice || 'unknown';\nconst items = lines.map(l => `  - ${l.json.name} x${l.json.quantity}`).join('\\n');\n\nconst summary = `🛒 Weekly Nemlig Order\\n` +\n  `${itemCount} items added to basket\\n` +\n  `Total: ${total} kr\\n\\n` +\n  `Items:\\n${items}\\n\\n` +\n  `Review & checkout: https://www.nemlig.com/checkout`;\n\nreturn [{ json: { summary, itemCount, total } }];"
      },
      "id": "build-summary",
      "name": "9. Build Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2160, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            {
              "id": "notify-check",
              "leftValue": "={{ $json.itemCount }}",
              "rightValue": "0",
              "operator": { "type": "number", "operation": "gt" }
            }
          ]
        }
      },
      "id": "if-items-added",
      "name": "10. Items Added?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2400, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "placeholder",
              "name": "note",
              "value": "=Connect your preferred notification here (Slack, Email, Telegram, etc.)\n\nMessage:\n{{ $('9. Build Summary').item.json.summary }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "notify",
      "name": "11. Send Notification",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2640, -100],
      "notesInFlow": true,
      "notes": "Replace this Set node with Slack, Email, or Telegram node to get notified"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "no-items",
              "name": "status",
              "value": "No items were added - check the grocery list in node 6",
              "type": "string"
            }
          ]
        }
      },
      "id": "no-items",
      "name": "No Items",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2640, 100]
    }
  ],
  "connections": {
    "Every Sunday 10:00": {
      "main": [[{ "node": "1. Get XSRF Token", "type": "main", "index": 0 }]]
    },
    "1. Get XSRF Token": {
      "main": [[{ "node": "2. Get Bearer Token", "type": "main", "index": 0 }]]
    },
    "2. Get Bearer Token": {
      "main": [[{ "node": "3. Login", "type": "main", "index": 0 }]]
    },
    "3. Login": {
      "main": [[{ "node": "4. Refresh Bearer", "type": "main", "index": 0 }]]
    },
    "4. Refresh Bearer": {
      "main": [[{ "node": "5. Refresh XSRF", "type": "main", "index": 0 }]]
    },
    "5. Refresh XSRF": {
      "main": [[{ "node": "6. Grocery List", "type": "main", "index": 0 }]]
    },
    "6. Grocery List": {
      "main": [[{ "node": "7. Add to Basket", "type": "main", "index": 0 }]]
    },
    "7. Add to Basket": {
      "main": [[{ "node": "8. Get Basket Summary", "type": "main", "index": 0 }]]
    },
    "8. Get Basket Summary": {
      "main": [[{ "node": "9. Build Summary", "type": "main", "index": 0 }]]
    },
    "9. Build Summary": {
      "main": [[{ "node": "10. Items Added?", "type": "main", "index": 0 }]]
    },
    "10. Items Added?": {
      "main": [
        [{ "node": "11. Send Notification", "type": "main", "index": 0 }],
        [{ "node": "No Items", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    { "name": "nemlig" },
    { "name": "grocery" },
    { "name": "automation" }
  ]
}
