n8n_meal_plan_workflow.json
{
  "name": "Meal Planner — Plan",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meal-plan",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook",
      "name": "1. Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "meal-plan"
    },
    {
      "parameters": {
        "jsCode": "// Validate API token (case-insensitive header lookup + query param fallback)\nconst expectedToken = process.env.API_TOKEN || '';\nif (expectedToken) {\n  const headers = $input.first().json.headers || {};\n  const query = $input.first().json.query || {};\n  const token = headers['x-api-token'] || headers['X-Api-Token'] || headers['X-API-TOKEN'] || Object.entries(headers).find(([k]) => k.toLowerCase() === 'x-api-token')?.[1] || query.token || '';\n  if (token !== expectedToken) throw new Error('Unauthorized');\n}\n\nconst body = $input.first().json.body;\nconst meals = body.meals || '';\nconst people = body.people || 2;\nconst days = body.days || 'Monday, Tuesday, Wednesday, Thursday, Friday';\nconst budget = body.budget || 500;\nconst diet = body.diet || '';\nconst notes = body.notes || '';\n\n// Detect if user wants organic\nconst wantsOrganic = /organic|økologisk|øko/i.test(meals + ' ' + notes + ' ' + diet);\n\nconst systemPrompt = `You are a Danish grocery meal planner for nemlig.com. You create weekly meal plans with recipes and ingredient lists.\n\nYou are an expert on dietary restrictions, food science, AND Danish grocery prices.\n\nCRITICAL BUDGET RULES:\n- The user has a STRICT budget. You MUST plan meals that fit within it.\n- Typical nemlig.com prices: chicken breast ~50kr/pack, minced meat ~35kr, eggs ~30-40kr, rice ~15-20kr, pasta ~15-25kr, vegetables ~10-25kr each, milk ~12kr, butter ~28kr\n- For a 500kr weekly budget for 2 people, plan simple meals with 8-12 total ingredients\n- For 800kr, you can have 12-18 ingredients\n- NEVER exceed the budget. If in doubt, plan fewer meals or simpler recipes.\n- ORGANIC RULE: If the user mentions organic/økologisk, you MUST append \\\"øko\\\" to EVERY search term (e.g. \\\"kyllingebrystfilet øko\\\", \\\"gulerødder øko\\\", \\\"æg øko\\\", \\\"basmatiris øko\\\", \\\"hakket oksekød øko\\\"). No exceptions — every single ingredient search term must end with \\\"øko\\\".\\n- Even with organic, stay within budget — organic staples are usually only 10-30% more expensive\n\nSEARCH TERM RULES:\n- All search terms MUST be specific Danish product names as you'd type in a grocery search\n- GOOD: \"kyllingebrystfilet\", \"hakket kalkun\", \"hakket oksekød\", \"basmatiris\", \"torskefilet\", \"æg\", \"spaghetti\"\n- BAD: \"kalkun\" (returns whole turkey!), \"kød\" (too vague), \"fisk\" (too vague), \"ris\" (too generic)\n- Always use the specific cut/type: \"hakket\" (minced), \"filet\", \"bryst\" (breast), \"strimler\" (strips)\n\nQUANTITY RULES:\n- Quantity = number of PACKAGES to buy from the store (1-3 max per ingredient)\n- Most items need quantity 1. Only staples like rice/pasta might need 2.\n- Consolidate: if multiple meals use chicken, list it ONCE with combined quantity\n\nOTHER RULES:\n- Scale for the number of people\n- Respect ALL dietary restrictions strictly\n- Be practical: use common Danish supermarket ingredients\n- Include a BILINGUAL recipe for each meal. Each entry in the recipe array is ONE step containing BOTH languages separated by a newline. Format: \"DK: Danish instruction\\nEN: English translation\". The step NUMBER is only shown once at render time — do NOT include step numbers in the text. Example: [\"DK: Skær løg i tern og steg i olie.\\nEN: Dice the onion and fry in oil.\", \"DK: Tilsæt hvidløg og steg i 1 minut.\\nEN: Add garlic and fry for 1 minute.\"]\n- Use as many or few steps as the dish actually needs — a simple salad might be 2 steps, a stew might be 8. Do NOT pad or compress to hit a fixed number.\\n- Write each step as a clear instruction a home cook can follow, with temps, times, and quantities where relevant.\n\nRespond with valid JSON only. No markdown, no explanation.`;\n\nlet userMessage = 'Plan meals for ' + people + ' people.\\nDays: ' + days + '\\nMeal ideas: ' + meals + '\\nBudget: ' + budget + ' kr (STRICT - do not exceed!)';\n\nif (wantsOrganic) userMessage += '\\nIMPORTANT: User wants ORGANIC — append øko to ALL search terms!';\nif (diet) userMessage += '\\nDiet / restrictions: ' + diet;\nif (notes) userMessage += '\\nExtra notes: ' + notes;\n\nuserMessage += '\\n\\nReturn a JSON object with this exact structure:\\n{\\n  \"mealPlan\": [\\n    {\\n      \"day\": \"Monday\",\\n      \"meals\": [\\n        {\\n          \"type\": \"dinner\",\\n          \"name\": \"Meal name\",\\n          \"description\": \"Brief description\",\\n          \"recipe\": [\"DK: Trin 1 på dansk...\\nEN: Step 1 in English...\", \"DK: Trin 2 på dansk...\\nEN: Step 2 in English...\"]\\n        }\\n      ]\\n    }\\n  ],\\n  \"ingredients\": [\\n    { \"searchTerm\": \"specific Danish search term\", \"quantity\": 1, \"category\": \"protein/dairy/vegetable/grain/other\", \"displayName\": \"Name with weight\", \"estimatedPrice\": 30 }\\n  ],\\n  \"estimatedTotal\": 350,\\n  \"budgetNotes\": \"Brief note on how budget was managed\"\\n}';\n\nconst llmConfig = body.llmConfig || {};\n\nreturn [{\n  json: {\n    systemPrompt,\n    userMessage,\n    formData: { meals, people, days, budget, diet, notes, wantsOrganic },\n    llmConfig\n  }\n}];"
      },
      "id": "build-prompt",
      "name": "2. Build AI Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        260,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse AI response and validate\nconst aiResponse = $input.first().json;\nconst formData = $('2. Build AI Prompt').first().json.formData;\n\nlet content;\ntry {\n  content = aiResponse.choices[0].message.content;\n} catch (e) {\n  throw new Error('Failed to extract AI response: ' + JSON.stringify(aiResponse).substring(0, 500));\n}\n\nlet plan;\ntry {\n  plan = JSON.parse(content);\n} catch (e) {\n  throw new Error('AI returned invalid JSON: ' + content.substring(0, 500));\n}\n\nif (!plan.mealPlan || !plan.ingredients) {\n  throw new Error('AI response missing mealPlan or ingredients');\n}\n\nconst ingredients = plan.ingredients.filter(i => i.searchTerm && i.searchTerm.trim());\nif (ingredients.length === 0) {\n  throw new Error('No valid ingredients');\n}\n\n// Cap quantities at 3 max\nfor (const ing of ingredients) {\n  if (ing.quantity > 3) ing.quantity = 3;\n}\n\nreturn [{\n  json: {\n    mealPlan: plan.mealPlan,\n    ingredients,\n    formData,\n    totalIngredients: ingredients.length,\n    estimatedTotal: plan.estimatedTotal || 0,\n    budgetNotes: plan.budgetNotes || '',\n  }\n}];"
      },
      "id": "parse-ai",
      "name": "4. Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Full Nemlig auth using axios with cookie management.\nconst axios = require('axios');\nconst crypto = require('crypto');\n\nconst BASE_URL = 'https://www.nemlig.com';\nconst username = process.env.NEMLIG_USER || '';\nconst password = process.env.NEMLIG_PASS || '';\n\nconst commonHeaders = {\n  'Accept': 'application/json, text/plain, */*',\n  'Content-Type': 'application/json',\n  'User-Agent': 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36',\n  'Device-Size': 'desktop',\n  'Platform': 'web',\n  'Version': '11.201.0',\n};\n\nlet cookies = {};\n\nfunction parseCookies(resp) {\n  const raw = resp.headers['set-cookie'];\n  if (!raw) return;\n  const lines = Array.isArray(raw) ? raw : [raw];\n  for (const line of lines) {\n    const kv = line.split(';')[0].split('=');\n    const name = kv[0].trim();\n    const value = kv.slice(1).join('=').trim();\n    if (name) cookies[name] = value;\n  }\n}\n\nfunction cookieHeader() {\n  return Object.entries(cookies).map(([k, v]) => `${k}=${v}`).join('; ');\n}\n\nasync function req(method, url, data, extraHeaders) {\n  const headers = {\n    ...commonHeaders,\n    'X-Correlation-Id': crypto.randomUUID(),\n    'Cookie': cookieHeader(),\n    ...extraHeaders\n  };\n  const resp = await axios({ method, url, data, headers, validateStatus: () => true, maxRedirects: 0 });\n  parseCookies(resp);\n  if (resp.status >= 400 && resp.status !== 302 && resp.status !== 301) {\n    throw new Error(`${method.toUpperCase()} ${url} returned ${resp.status}: ${JSON.stringify(resp.data).substring(0, 300)}`);\n  }\n  return resp;\n}\n\n// Step 1: XSRF token\nconst xsrfResp = await req('get', `${BASE_URL}/webapi/AntiForgery`);\nconst xsrfToken = xsrfResp.data.Value;\n\n// Step 2: Bearer token\nconst tokenResp = await req('get', `${BASE_URL}/webapi/Token`);\nconst bearerToken = tokenResp.data.access_token;\n\n// Step 3: Login\nconst loginResp = await req('post', `${BASE_URL}/webapi/login`, {\n  Username: username,\n  Password: password,\n  CheckForExistingProducts: true,\n  DoMerge: true,\n  AppInstalled: false,\n  SaveExistingBasket: false\n}, {\n  'X-XSRF-TOKEN': xsrfToken,\n  'Authorization': `Bearer ${bearerToken}`,\n  'Referer': `${BASE_URL}/login?returnUrl=%2F`\n});\n\nif (!loginResp.data.RedirectUrl) {\n  throw new Error('Login failed: ' + JSON.stringify(loginResp.data).substring(0, 300));\n}\n\n// Step 4: Fresh tokens\nconst freshTokenResp = await req('get', `${BASE_URL}/webapi/Token`);\nconst freshBearer = freshTokenResp.data.access_token;\n\nconst freshXsrfResp = await req('get', `${BASE_URL}/webapi/AntiForgery`);\nconst freshXsrf = freshXsrfResp.data.Value;\n\n// App settings - get timestamp for search\nlet timestamp = '';\ntry {\n  const appResp = await req('get', `${BASE_URL}/webapi/v2/AppSettings/Website`, null, {\n    'Authorization': `Bearer ${freshBearer}`,\n    'X-XSRF-TOKEN': freshXsrf\n  });\n  timestamp = appResp.data.CombinedProductsAndSitecoreTimestamp || '';\n} catch(e) {\n  // Non-critical, search works without it\n}\n\n// Generate timeslotUtc dynamically (format: YYYYMMDDHH-offset-window)\n// The format is the next delivery date at 16:00 with 60min offset and 180min window\nconst now = new Date();\nnow.setDate(now.getDate() + 1); // next day\nconst y = now.getFullYear();\nconst m = String(now.getMonth() + 1).padStart(2, '0');\nconst d = String(now.getDate()).padStart(2, '0');\nconst timeslotUtc = `${y}${m}${d}16-60-180`;\nconst deliveryZoneId = 1;\nconst userId = '';\n\nconst upstream = $input.first().json;\n\nreturn [{\n  json: {\n    bearer: freshBearer,\n    xsrf: freshXsrf,\n    cookies: JSON.stringify(cookies),\n    searchParams: { timestamp, timeslotUtc, deliveryZoneId, userId },\n    mealPlan: upstream.mealPlan,\n    ingredients: upstream.ingredients,\n    formData: upstream.formData,\n    totalIngredients: upstream.totalIngredients\n  }\n}];"
      },
      "id": "nemlig-auth",
      "name": "5. Nemlig Auth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1040,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond",
      "name": "10. Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2600,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Search all ingredients and enforce budget\nconst axios = require('axios');\nconst auth = $input.first().json;\nconst ingredients = auth.ingredients;\nconst mealPlan = auth.mealPlan;\nconst budget = auth.formData.budget || 500;\n\nconst searchUrl = 'https://webapi.prod.knl.nemlig.it/searchgateway/api/search';\nconst matched = [];\nconst notFound = [];\n\n// If organic requested, ensure all search terms include 'øko'\nconst wantsOrganic = auth.formData.wantsOrganic || false;\nif (wantsOrganic) {\n  for (const ing of ingredients) {\n    if (!/øko/i.test(ing.searchTerm)) {\n      ing.searchTerm = ing.searchTerm + ' øko';\n    }\n  }\n}\n\nfor (const ing of ingredients) {\n  try {\n    if (matched.length + notFound.length > 0) {\n      await new Promise(r => setTimeout(r, 500));\n    }\n    \n    const resp = await axios.get(searchUrl, {\n      params: {\n        query: ing.searchTerm,\n        take: 30, skip: 0, recipeCount: 0,\n        timestamp: auth.searchParams.timestamp || '',\n        timeslotUtc: auth.searchParams.timeslotUtc || '',\n        deliveryZoneId: auth.searchParams.deliveryZoneId || 1,\n      },\n      headers: {\n        'Accept': 'application/json, text/plain, */*',\n        'Authorization': `Bearer ${auth.bearer}`,\n        'Referer': 'https://www.nemlig.com/',\n        'User-Agent': 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36',\n      },\n      validateStatus: () => true,\n    });\n\n    if (resp.status !== 200) {\n      notFound.push({ searchTerm: ing.searchTerm, displayName: ing.displayName || ing.searchTerm, wantedQty: ing.quantity || 1 });\n      continue;\n    }\n\n    const products = (resp.data?.Products?.Products) || [];\n    const available = products.filter(p =>\n      p.Availability?.IsAvailableInStock !== false &&\n      p.Availability?.IsDeliveryAvailable !== false\n    );\n\n    if (available.length === 0) {\n      notFound.push({ searchTerm: ing.searchTerm, displayName: ing.displayName || ing.searchTerm, wantedQty: ing.quantity || 1 });\n      continue;\n    }\n\n    // Pick best product — prefer organic if user requested it\n    const wantsOrganic = auth.formData.wantsOrganic || false;\n    let best;\n    if (wantsOrganic) {\n      // Prefer products with øko/økologisk in the name\n      const organic = available.filter(p => /øko|økologisk/i.test(p.Name || ''));\n      if (organic.length > 0) {\n        organic.sort((a, b) => (a.Price || 999) - (b.Price || 999));\n        best = organic[0];\n      } else {\n        available.sort((a, b) => (a.Price || 999) - (b.Price || 999));\n        best = available[0];\n      }\n    } else {\n      available.sort((a, b) => (a.Price || 999) - (b.Price || 999));\n      best = available[0];\n    }\n    const qty = Math.min(ing.quantity || 1, 3);\n    matched.push({\n      searchTerm: ing.searchTerm,\n      displayName: ing.displayName || ing.searchTerm,\n      wantedQty: qty,\n      productId: best.Id,\n      productName: best.Name,\n      brand: best.Brand || '',\n      price: best.Price || 0,\n      totalPrice: (best.Price || 0) * qty,\n    });\n  } catch (e) {\n    notFound.push({ searchTerm: ing.searchTerm, displayName: ing.displayName || ing.searchTerm, wantedQty: ing.quantity || 1 });\n  }\n}\n\n// Deduplicate: merge items with same productId\nconst seen = new Map();\nfor (let i = matched.length - 1; i >= 0; i--) {\n  const item = matched[i];\n  if (seen.has(item.productId)) {\n    const existing = seen.get(item.productId);\n    existing.wantedQty = Math.min(existing.wantedQty + item.wantedQty, 5);\n    existing.totalPrice = existing.price * existing.wantedQty;\n    matched.splice(i, 1);\n  } else {\n    seen.set(item.productId, item);\n  }\n}\n\n// Budget enforcement: if over budget, reduce quantities starting with most expensive\nlet totalPrice = matched.reduce((sum, m) => sum + m.totalPrice, 0);\n\nif (totalPrice > budget) {\n  // Sort by unit price descending\n  const byPrice = [...matched].sort((a, b) => b.price - a.price);\n  \n  for (const item of byPrice) {\n    if (totalPrice <= budget) break;\n    // Reduce quantity if > 1\n    while (item.wantedQty > 1 && totalPrice > budget) {\n      item.wantedQty--;\n      item.totalPrice = item.price * item.wantedQty;\n      totalPrice = matched.reduce((sum, m) => sum + m.totalPrice, 0);\n    }\n  }\n  \n  // If still over, remove most expensive items\n  if (totalPrice > budget) {\n    matched.sort((a, b) => b.price - a.price);\n    while (matched.length > 3 && totalPrice > budget) {\n      const removed = matched.shift();\n      notFound.push({ searchTerm: removed.searchTerm, displayName: removed.displayName + ' (over budget)', wantedQty: removed.wantedQty });\n      totalPrice = matched.reduce((sum, m) => sum + m.totalPrice, 0);\n    }\n  }\n}\n\nconst remaining = budget - totalPrice;\n\nreturn [{\n  json: {\n    mealPlan,\n    matched,\n    notFound,\n    totalPrice,\n    budget,\n    remaining,\n  }\n}];"
      },
      "id": "search-aggregate",
      "name": "6. Search & Aggregate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1300,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Flexible LLM call — supports OpenAI, Azure, Anthropic, Ollama, or any OpenAI-compatible endpoint\nconst axios = require('axios');\n\nconst { systemPrompt, userMessage, llmConfig } = $input.first().json;\n\n// Default config (Azure OpenAI) — override via llmConfig from the frontend\nconst provider = llmConfig.provider || 'azure';\nconst endpoint = llmConfig.endpoint || (process.env.AZURE_OPENAI_ENDPOINT || '');\nconst model = llmConfig.model || (process.env.AZURE_OPENAI_MODEL || 'gpt-4o');\nconst apiKey = llmConfig.apiKey || (process.env.AZURE_OPENAI_KEY || '');\n\nlet url, headers, body;\n\nif (provider === 'azure') {\n  // Azure OpenAI\n  url = `${endpoint}/openai/deployments/${model}/chat/completions?api-version=2025-04-01-preview`;\n  headers = { 'Content-Type': 'application/json', 'api-key': apiKey };\n  body = {\n    messages: [\n      { role: 'system', content: systemPrompt },\n      { role: 'user', content: userMessage }\n    ],\n    temperature: 0.7,\n    max_completion_tokens: 4000,\n    response_format: { type: 'json_object' }\n  };\n\n} else if (provider === 'openai') {\n  // OpenAI API\n  url = `${endpoint || 'https://api.openai.com'}/v1/chat/completions`;\n  headers = { 'Content-Type': 'application/json', 'Authorization': `Bearer ${apiKey}` };\n  body = {\n    model: model || 'gpt-4o',\n    messages: [\n      { role: 'system', content: systemPrompt },\n      { role: 'user', content: userMessage }\n    ],\n    temperature: 0.7,\n    max_tokens: 4000,\n    response_format: { type: 'json_object' }\n  };\n\n} else if (provider === 'anthropic') {\n  // Anthropic Claude API\n  url = `${endpoint || 'https://api.anthropic.com'}/v1/messages`;\n  headers = {\n    'Content-Type': 'application/json',\n    'x-api-key': apiKey,\n    'anthropic-version': '2023-06-01'\n  };\n  body = {\n    model: model || 'claude-sonnet-4-20250514',\n    max_tokens: 4000,\n    system: systemPrompt,\n    messages: [{ role: 'user', content: userMessage }]\n  };\n\n} else if (provider === 'ollama') {\n  // Ollama (local)\n  url = `${endpoint || 'http://host.docker.internal:11434'}/api/chat`;\n  headers = { 'Content-Type': 'application/json' };\n  body = {\n    model: model || 'llama3',\n    messages: [\n      { role: 'system', content: systemPrompt },\n      { role: 'user', content: userMessage }\n    ],\n    stream: false,\n    format: 'json'\n  };\n\n} else {\n  // Custom OpenAI-compatible endpoint (LM Studio, vLLM, Together, Groq, etc.)\n  url = `${endpoint}/v1/chat/completions`;\n  headers = { 'Content-Type': 'application/json' };\n  if (apiKey) headers['Authorization'] = `Bearer ${apiKey}`;\n  body = {\n    model: model || 'default',\n    messages: [\n      { role: 'system', content: systemPrompt },\n      { role: 'user', content: userMessage }\n    ],\n    temperature: 0.7,\n    max_tokens: 4000,\n  };\n}\n\nconst resp = await axios.post(url, body, {\n  headers,\n  timeout: 120000,\n  validateStatus: () => true\n});\n\nif (resp.status >= 400) {\n  throw new Error(`LLM API error (${provider}): ${resp.status} — ${JSON.stringify(resp.data).substring(0, 500)}`);\n}\n\n// Normalize response to OpenAI format\nlet content;\nif (provider === 'anthropic') {\n  content = resp.data.content?.[0]?.text || '';\n} else if (provider === 'ollama') {\n  content = resp.data.message?.content || '';\n} else {\n  content = resp.data.choices?.[0]?.message?.content || '';\n}\n\n// Return in the same format the downstream nodes expect\nreturn [{\n  json: {\n    choices: [{ message: { content } }]\n  }\n}];"
      },
      "id": "llm-call",
      "name": "3. LLM Call",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        520,
        0
      ]
    }
  ],
  "connections": {
    "1. Webhook": {
      "main": [
        [
          {
            "node": "2. Build AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Build AI Prompt": {
      "main": [
        [
          {
            "node": "3. LLM Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Parse AI Response": {
      "main": [
        [
          {
            "node": "5. Nemlig Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Nemlig Auth": {
      "main": [
        [
          {
            "node": "6. Search & Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Search & Aggregate": {
      "main": [
        [
          {
            "node": "10. Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. LLM Call": {
      "main": [
        [
          {
            "node": "4. Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "executionTimeout": 300
  },
  "staticData": null,
  "tags": [
    {
      "name": "nemlig"
    },
    {
      "name": "meal-plan"
    },
    {
      "name": "automation"
    }
  ]
}