n8n_meal_plan_approve.json
{
  "name": "Meal Planner — Approve",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meal-plan-approve",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook",
      "name": "1. Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "meal-plan-approve"
    },
    {
      "parameters": {
        "jsCode": "// Validate API token\nconst expectedToken = process.env.API_TOKEN || '';\nif (expectedToken) {\n  const headers = $input.first().json.headers || {};\n  const query = $input.first().json.query || {};\n  const token = headers['x-api-token'] || headers['X-Api-Token'] || headers['X-API-TOKEN'] || Object.entries(headers).find(([k]) => k.toLowerCase() === 'x-api-token')?.[1] || query.token || '';\n  if (token !== expectedToken) throw new Error('Unauthorized');\n}\n\nconst axios = require('axios');\nconst crypto = require('crypto');\n\nconst BASE_URL = 'https://www.nemlig.com';\nconst username = process.env.NEMLIG_USER || '';\nconst password = process.env.NEMLIG_PASS || '';\n\nconst commonHeaders = {\n  'Accept': 'application/json, text/plain, */*',\n  'Content-Type': 'application/json',\n  'User-Agent': 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36',\n  'Device-Size': 'desktop', 'Platform': 'web', 'Version': '11.201.0',\n};\n\nlet cookies = {};\nfunction parseCookies(resp) {\n  const setCookies = resp.headers['set-cookie'] || [];\n  for (const c of setCookies) {\n    const parts = c.split(';')[0].split('=');\n    cookies[parts[0].trim()] = parts.slice(1).join('=').trim();\n  }\n}\nfunction cookieHeader() {\n  return Object.entries(cookies).map(([k, v]) => k + '=' + v).join('; ');\n}\n\nasync function req(method, url, data, extraHeaders) {\n  const h = { ...commonHeaders, 'X-Correlation-Id': crypto.randomUUID(), 'Cookie': cookieHeader(), ...extraHeaders };\n  const resp = await axios({ method, url, data, headers: h, validateStatus: () => true });\n  parseCookies(resp);\n  if (resp.status >= 400) throw new Error(method + ' ' + url + ' returned ' + resp.status);\n  return resp;\n}\n\n// Auth\nconst xsrfResp = await req('get', BASE_URL + '/webapi/AntiForgery');\nconst tokenResp = await req('get', BASE_URL + '/webapi/Token');\nconst loginResp = await req('post', BASE_URL + '/webapi/login', {\n  Username: username, Password: password,\n  CheckForExistingProducts: true, DoMerge: true, AppInstalled: false, SaveExistingBasket: false\n}, { 'X-XSRF-TOKEN': xsrfResp.data.Value, 'Authorization': 'Bearer ' + tokenResp.data.access_token, 'Referer': BASE_URL + '/login' });\nif (!loginResp.data.RedirectUrl) throw new Error('Login failed');\n\nconst freshToken = (await req('get', BASE_URL + '/webapi/Token')).data.access_token;\nconst freshXsrf = (await req('get', BASE_URL + '/webapi/AntiForgery')).data.Value;\nconst authHeaders = { 'X-XSRF-TOKEN': freshXsrf, 'Authorization': 'Bearer ' + freshToken, 'Referer': BASE_URL + '/' };\n\n// Handle actions\nconst action = $input.first().json.body.action || '';\nif (action === 'clear') {\n  await req('post', BASE_URL + '/webapi/basket/ClearBasket', {}, authHeaders);\n  return [{ json: { cleared: true, added: 0, failed: 0, totalItems: 0 } }];\n}\nif (action === 'view') {\n  const basketResp = await req('get', BASE_URL + '/webapi/basket/GetBasket', null, authHeaders);\n  const lines = basketResp.data.Lines || [];\n  const items = lines.map(function(l) { return { name: l.Name, qty: l.Quantity, price: l.Price, image: l.PrimaryImage }; });\n  return [{ json: { action: 'view', items: items, count: lines.length, total: basketResp.data.TotalPrice || 0 } }];\n}\n\n// Add items to basket\nconst items = $input.first().json.body.items || [];\nif (items.length === 0) throw new Error('No items to add');\n\nconst results = [];\nfor (const item of items) {\n  try {\n    if (results.length > 0) await new Promise(r => setTimeout(r, 1000));\n    await req('post', BASE_URL + '/webapi/basket/AddToBasket', {\n      ProductId: String(item.productId), quantity: item.quantity || 1,\n      AffectPartialQuantity: false, disableQuantityValidation: false\n    }, authHeaders);\n    results.push({ productId: item.productId, name: item.name, success: true });\n  } catch (e) {\n    results.push({ productId: item.productId, name: item.name, success: false, error: e.message });\n  }\n}\n\nconst added = results.filter(r => r.success).length;\nconst failed = results.filter(r => !r.success).length;\nreturn [{ json: { results, added, failed, totalItems: items.length } }];"
      },
      "id": "add-to-basket",
      "name": "2. Auth & Add to Basket",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        260,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond",
      "name": "3. Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        520,
        0
      ]
    }
  ],
  "connections": {
    "1. Webhook": {
      "main": [
        [
          {
            "node": "2. Auth & Add to Basket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Auth & Add to Basket": {
      "main": [
        [
          {
            "node": "3. Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "executionTimeout": 120
  },
  "staticData": null,
  "tags": [
    {
      "name": "nemlig"
    },
    {
      "name": "meal-plan"
    },
    {
      "name": "automation"
    }
  ]
}